.vote-button {
    background: rgba(0,0,0,0.8);
    color: white;
    border-radius: 4px;
    width: 100%;
    max-width: 225px;
    height: 10vh;
    max-height: 75px;
    /* border: 1px solid rgba(255,255,255,0.5); */
    border: none;
    margin-top: 20px;
    box-shadow: 0px 0px 15px rgb(0,0,0);
    cursor: pointer;
    font-family: 'Athiti', sans-serif;
}

.vote-button.disabled {
    background: rgba(104, 105, 105,0.8);
    /* border: 1px solid white; */
    color: white;
}

.vote-button.vote-button.is-active.disabled:hover {
    color: black;
    background: rgba(255,255,255,0.8);
}

.vote-button.disabled:hover {
    background: rgba(104, 105, 105,0.8);
    box-shadow: 0px 0px 15px rgb(0,0,0);
}

.vote-button:hover {
    background: rgb(0,0,0);

    box-shadow: 0px 0px 15px rgba(254, 255, 174, 0.8);
    /* color: rgb(65, 111, 196);
    border: 1px solid rgb(65, 111, 196); */
}

.vote-button.is-active {
    color: black;
    background: rgba(255,255,255,0.8);
}

.alert-modal {
    font-family: 'Athiti', sans-serif;
    font-size: 18px;
    text-align: center;
    margin: auto;
}

.alert-modal button span {
    position: absolute;
    right: 20px;
}