.vote-button {
    background: rgb(0,0,0);
    color: white;
    border-radius: 4px;
    width: 100%;
    max-width: 225px;
    height: 10vh;
    max-height: 75px;
    border: 1px solid rgba(255,255,255,0.5);
    margin-top: 20px;
    cursor: pointer;
}

.vote-button:hover {
    color: rgb(65, 111, 196);
    border: 1px solid rgb(65, 111, 196);
}

.vote-button.is-active {
    background: rgb(51, 91, 171);
    border: 1px solid white;
    color: white;
}